# GlobalProperties:
db.allophonesDir /Users/pradipta/workspace/dfki/marytts-unitselection/allophones/
db.basenameFile /Users/pradipta/workspace/dfki/marytts-unitselection/basenames.lst
db.domain general
db.estDir /project/mary/Festival/speech_tools/
db.gender female
db.halfphoneFeatureDir /Users/pradipta/workspace/dfki/marytts-unitselection/halfphonefeatures/
db.halfphoneLabDir /Users/pradipta/workspace/dfki/marytts-unitselection/halfphonelab/
db.hplabExtension .hplab
db.labDir /Users/pradipta/workspace/dfki/marytts-unitselection/lab/
db.labExtension .lab
db.locale en_US
db.maryServerHost localhost
db.maryServerPort 59125
db.marybase /path/to/marybase/
db.marybaseversion 5.2
db.maryxmlDir /Users/pradipta/workspace/dfki/marytts-unitselection/rawmaryxml/
db.maryxmlExtension .xml
db.phoneFeatureDir /Users/pradipta/workspace/dfki/marytts-unitselection/phonefeatures/
db.phoneLabDir /Users/pradipta/workspace/dfki/marytts-unitselection/phonelab/
db.pmDir /Users/pradipta/workspace/dfki/marytts-unitselection/pm/
db.pmExtension .pm
db.promptAllophonesDir /Users/pradipta/workspace/dfki/marytts-unitselection/prompt_allophones/
db.ptcDir /Users/pradipta/workspace/dfki/marytts-unitselection/ptc/
db.ptcExtension .ptc
db.rootDir /Users/pradipta/workspace/dfki/marytts-unitselection/
db.samplingrate 16000
db.textDir /Users/pradipta/workspace/dfki/marytts-unitselection/text/
db.textExtension .txt
db.vocalizationsDir /Users/pradipta/workspace/dfki/marytts-unitselection/vocalizations/
db.voicename my_voice
db.wavDir /Users/pradipta/workspace/dfki/marytts-unitselection/wav/